<?xml version="1.0"?>
<!--
/**
 * ACL configuration
 *
 * @category  Wholesale
 * @package   Wholesale_PartnerPortal
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::stores">
                    <resource id="Wholesale_PartnerPortal::partner" title="Partner Management" sortOrder="50">
                        <resource id="Wholesale_PartnerPortal::partner_save" title="Save Partner" sortOrder="10"/>
                        <resource id="Wholesale_PartnerPortal::partner_delete" title="Delete Partner" sortOrder="20"/>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>